

#printcontrol button{
    padding: 0;
    float: left;
}

#devicecontrol button{
    padding: 0;
    float: left;
}

#control{
    display: block;
    position: absolute;
    top: 50px;
    width: 249;
    height: 235;
}

.circle 
{
    display: flex;
    position: absolute;
    /*flex-direction: column;*/
    /*justify-content: center;*/
    width: 50px;
    height: 50px;
    top: 10%;
    left: 0;
    border-radius: 50%;
    background: #D0F000;
    opacity: 0.5;
    text-align: center;
    color: white;
}

p {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#homex {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0px;
    top: 0px;
}

#homey {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

#homez {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    right: 0px;
}

#home {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    bottom: 0;
}

#center {
    display: flex;
    flex-direction: column;

    position: absolute;
    width: 46px;
    height: 46px;
    top: calc(50% - 23px);
    left: calc(50% - 23px);

    z-index: 5;
}


#r {
    display: flex;
    flex-direction: column;

    position: absolute;
    width: 34px;
    height: 51px;
    top: calc(50% - 25.5px);
    right: calc(40% - 15px);
    z-index: 4;
}

#rr {
    display: flex;
    flex-direction: column;

    position: absolute;
    width: 33px;
    height: 85px;
    top: calc(50% - 42.5px);
    right: calc(30% - 15px);
    z-index: 3;
}

#rrr {
    display: flex;
    flex-direction: column;

    position: absolute;
    width: 40px;
    height: 120px;
    top: calc(50% - 60px);
    right: calc(20% - 15px);
    z-index: 2;
}

#rrrr {
    display: flex;
    flex-direction: column;

    position: absolute;
    width: 45px;
    height: 152px;
    top: calc(50% - 76px);
    right: calc(10% - 13px);
    z-index: 1;
}


#l {
    display: flex;
    flex-direction: column;

    position: absolute;
    width: 34px;
    height: 51px;
    top: calc(50% - 25.5px);
    left: calc(40% - 15px);
    z-index: 4;
}

#ll {
    display: flex;
    flex-direction: column;

    position: absolute;
    width: 33px;
    height: 85px;
    top: calc(50% - 42.5px);
    left: calc(30% - 15px);
    z-index: 3;
}

#lll {
    display: flex;
    flex-direction: column;

    position: absolute;
    width: 40px;
    height: 120px;
    top: calc(50% - 60px);
    left: calc(20% - 15px);
    z-index: 2;
}

#llll {
    display: flex;
    flex-direction: column;

    position: absolute;
    width: 45px;
    height: 152px;
    top: calc(50% - 76px);
    left: calc(10% - 13px);
    z-index: 1;
}


#b {
    display: flex;
    flex-direction: column;

    position: absolute;
    width: 51px;
    height: 34px;
    bottom: calc(40% - 15px);
    right: calc(50% - 25.5px);
    z-index: 4;
}

#bb {
    display: flex;
    flex-direction: column;

    position: absolute;
    width: 85px;
    height: 33px;
    bottom: calc(30% - 15px);
    right: calc(50% - 42.5px);
    z-index: 3;
}

#bbb {
    display: flex;
    flex-direction: column;

    position: absolute;
    width: 120px;
    height: 40px;
    bottom: calc(20% - 15px);
    right: calc(50% - 60px);
    z-index: 2;
}

#bbbb {
    display: flex;
    flex-direction: column;

    position: absolute;
    width: 152;
    height: 45;
    bottom: calc(10% - 15px);
    right: calc(50% - 76px);
    z-index: 1;
}


#t {
    display: flex;
    flex-direction: column;

    position: absolute;
    width: 51px;
    height: 34px;
    top: calc(40% - 15px);
    right: calc(50% - 25.5px);
    z-index: 4;
}

#tt {
    display: flex;
    flex-direction: column;

    position: absolute;
    width: 85px;
    height: 33px;
    top: calc(30% - 15px);
    right: calc(50% - 42.5px);
    z-index: 3;
}

#ttt {
    display: flex;
    flex-direction: column;

    position: absolute;
    width: 120px;
    height: 40px;
    top: calc(20% - 15px);
    right: calc(50% - 60px);
    z-index: 2;
}

#tttt {
    display: flex;
    flex-direction: column;

    position: absolute;
    width: 152;
    height: 45;
    top: calc(10% - 15px);
    right: calc(50% - 76px);
    z-index: 1;
}
